@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Mobile */
@media screen and (max-width: 900px) {
    .grid-container {
        height: 65rem;
        width: 16rem;
        grid-template-rows: repeat(3, 1fr);
    }

    .sedan-container {
        border-radius: 7px 7px 0 0;
    }

    .luxury-container {
        border-radius: 0 0 7px 7px;
    }

    .grid-item {
        padding: 40px;
    }

    img {
        width: 48px;
        height: 30px;
    }

    .grid-item h1, h2, h3 {
        font-size: 32px;
    }

    .grid-item > p {
        font-size: 12px;
        line-height: 20px;
    }
}

/* Desktop */
@media screen and (min-width: 900px) {
    .grid-container {
        height: 31rem;
        width: 55rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .sedan-container {
        border-radius: 7px 0 0 7px;
    }

    .luxury-container {
        border-radius: 0 7px 7px 0;
    }

    .grid-item {
        padding: 45px;
    }

    img {
        width: 64px;
        height: 40px;
    }

    .grid-item h1, h2, h3 {
        font-size: 38px;
    }

    .grid-item > p {
        font-size: 15px;
        line-height: 1.5rem;
    }

    .btn {
        margin-top: 4.5rem;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.95);
}

.grid-container {
    background: mintcream;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sedan-container {
    background-color: hsl(31, 77%, 52%);
}

.suv-container {
    background-color: hsl(184, 100%, 22%);
}

.luxury-container {
    background-color: hsl(179, 100%, 13%);
}

.grid-item h1, h2, h3 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
}

.grid-item > p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 300;
}

.btn {
    width: 9rem;
    border-radius: 25px;
    padding: 15px;
    border: 2px solid transparent;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
}

.btn:hover {
    color: white;
    border: 2px solid white;
    background-color: rgba(255,255,255,0);
}

.sedan-btn {
    color: hsl(31, 77%, 52%);
}

.suv-btn {
    color: hsl(184, 100%, 22%);
}

.luxury-btn {
    color: hsl(179, 100%, 13%);
}